__pycache__/
*.py[cod]
*.egg-info/
*.egg
build/
dist/
.eggs/

.venv/
venv/
env/

.ipynb_checkpoints/

.pytest_cache/
.coverage
.coverage.*
htmlcov/
coverage.xml

.mypy_cache/
.ruff_cache/

.DS_Store
.idea/
.vscode/
*.swp
